In [ ]:
getwd()

setwd('/content')
dir()

[1] "/content"

[1] "Medicaldataset_Mod_2.csv" "sample_data"

In [ ]:
Medical = read.csv('Medicaldataset_Mod_2.csv', header = T, stringsAsFactors = F)
#head
View(Medical)

     Age Gender Heart.rate Systolic.blood.pressure Diastolic.blood.pressure
1    64  Male    66        160                     83
2    21  Male    94         98                     46
3    55  Male    64        160                     77
4    64  Male    70        120                     55
5    55  Male    64        112                     65
6    58  Female  61        112                     58
7    32  Female  40        179                     68
8    63  Male    60        214                     82
9    44  Female  60        154                     81
10   67  Male    61        160                     95
11   44  Female  60        166                     90
12   63  Female  60        150                     83
13   64  Male    60        199                     99
14   54  Female  94        122                     67
15   47  Male    76        120                     70
16   61  Male    81        118                     66
17   86  Female  73        114                     68
18   45  Female  70        100                     68
19   37  Female  72        107                     86
20   45  Male    60        109                     65
21   60  Male    92        151                     78
22   48  Male   135         98                     60
23   52  Male    76        109                     85
24   30  Male    63        110                     68
25   50  Male    63        104                     63
26   72  Male    64        106                     68
27   42  Male    65        150                     68
28   72  Female  64        152                     60
29   47  Female  66        134                     57
30   63  Male    66        135                     55
⋮    ⋮   ⋮      ⋮          ⋮                       ⋮
1290 55  Male    61         90                      57
1291 60  Male    69         94                      55
1292 58  Male    98         91                      50
1293 50  Male    64        109                      60
1294 53  Male    55        120                      79
1295 50  Female  79         92                      55
1296 64  Female  68         91                      61
1297 65  Male    60        112                      56
1298 62  Female  60        145                      67
1299 67  Female  81        150                      75
1300 62  Male    90        136                      68
1301 43  Male    90         95                      50
1302 47  Female  58         93                      78
1303 40  Male    57        208                      40
1304 55  Female  80        117                      83
1305 56  Female  68        123                      70
1306 47  Male    71        117                      61
1307 60  Female  78        109                      69
1308 56  Male    75        157                      67
1309 45  Male   117        100                      68
1310 47  Male    94        105                      81
1311 70  Female  80        135                      75
1312 85  Male   112        115                      69
1313 48  Male    84        118                      68
1314 86  Female  40        179                      68
1315 44  Male    94        122                      67
1316 66  Male    84        125                      55
1317 45  Male    85        168                     104
1318 54  Male    58        117                      68
1319 51  Male    94        157                      79
     Blood.sugar CK.MB   Troponin Result
1    160           1.800  0.012   negative
2    296           6.750  1.060   positive
3    270           1.990  0.003   negative
4    270          13.870  0.122   positive
5    300           1.080  0.003   negative
6     87           1.830  0.004   negative
7    102           0.710  0.003   negative
8     87         300.000  2.370   positive
9    135           2.350  0.004   negative
10   100           2.840  0.011   negative
11   102           2.390  0.006   negative
12   198           2.390  0.013   negative
13    92           3.430  5.370   positive
14    97           1.420  0.012   negative
15   319           2.570  0.003   negative
16   134           1.490  0.017   positive
17    87           1.110  0.776   positive
18    96           0.606  0.004   negative
19   274           2.890  0.003   negative
20    89           1.600  0.020   positive
21   301           1.600  0.005   negative
22   100          94.790  0.004   positive
23   227           0.665  0.491   positive
24   107          50.460  0.003   positive
25   269          38.720  0.612   positive
26   111           2.110  1.390   positive
27   101           2.930  0.003   negative
28    95           1.610  0.006   negative
29   279         300.000  0.007   positive
30   166           0.493 10.000   negative
⋮    ⋮           ⋮       ⋮        ⋮
1290 188          1.300   0.110   positive
1291  87          0.609   0.016   positive
1292 182         15.230   0.013   positive
1293  96          1.540   0.930   positive
1294 114          2.930   0.030   positive
1295 415         16.950   0.005   positive
1296 119          2.970   1.530   positive
1297  95          4.220   1.040   positive
1298 208          1.290   0.009   negative
1299  80          4.800   0.009   negative
1300 141          1.830   0.014   negative
1301 118          1.330   0.544   positive
1302 170          1.190   0.068   positive
1303 108          2.110   0.003   negative
1304 200          0.780   0.052   positive
1305 102          2.280   0.255   positive
1306 140          4.390   1.370   positive
1307 230         19.470   0.003   positive
1308 104          2.410   0.450   positive
1309 202          3.180   0.003   negative
1310 135         36.240   0.263   positive
1311 351          2.210  10.000   positive
1312 114          2.190   0.062   positive
1313  96          5.330   0.006   negative
1314 147          5.220   0.011   negative
1315 204          1.630   0.006   negative
1316 149          1.330   0.172   positive
1317  96          1.240   4.250   positive
1318 443          5.800   0.359   positive
1319 134         50.890   1.770   positive

In [ ]:
install.packages("skimr")
library(skimr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
str(Medical)

'data.frame':	1319 obs. of  9 variables:
 $ Age                     : int  64 21 55 64 55 58 32 63 44 67 ...
 $ Gender                  : chr  "Male" "Male" "Male" "Male" ...
 $ Heart.rate              : int  66 94 64 70 64 61 40 60 60 61 ...
 $ Systolic.blood.pressure : int  160 98 160 120 112 112 179 214 154 160 ...
 $ Diastolic.blood.pressure: int  83 46 77 55 65 58 68 82 81 95 ...
 $ Blood.sugar             : num  160 296 270 270 300 87 102 87 135 100 ...
 $ CK.MB                   : num  1.8 6.75 1.99 13.87 1.08 ...
 $ Troponin                : num  0.012 1.06 0.003 0.122 0.003 0.004 0.003 2.37 0.004 0.011 ...
 $ Result                  : chr  "negative" "positive" "negative" "positive" ...

In [ ]:
skim(Medical)

── Data Summary ────────────────────────
                           Values
Name                       Medical
Number of rows             1319
Number of columns          9
_______________________
Column type frequency:
  character                2
  numeric                  7
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 Gender                0             1   4   6     0        2          0
2 Result                0             1   8   8     0        2          0

── Variable type: numeric ──────────────────────────────────────────────────────
  skim_variable            n_missing complete_rate    mean    sd     p0     p25
1 Age                              0             1  56.2   13.6  14      47
2 Heart.rate                       0             1  76.1   15.4  20      64
3 Systolic.blood.pressure          0             1 127.    26.1  42     110
4 Diastolic.blood.pressure         0             1  72.3   14.0  38      62
5 Blood.sugar                      0             1 147.    74.9  35      98
6 CK.MB                            0             1  15.3   46.3   0.321   1.65
7 Troponin                         0             1   0.361  1.15  0.001   0.006
      p50      p75  p100 hist
1  58      65      103   ▁▃▇▃▁
2  74      85      135   ▁▅▇▂▁
3 124     143      223   ▁▅▇▂▁
4  72      81      154   ▃▇▂▁▁
5 116     170.     541   ▇▃▁▁▁
6   2.85    5.80   300   ▇▁▁▁▁
7   0.014   0.0855  10.3 ▇▁▁▁▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 17' in coercion to 'logical(1)'

In [ ]:
Medical %>%
  dplyr::select(Age, Gender, Heart.rate, Systolic.blood.pressure, Diastolic.blood.pressure, Blood.sugar, CK.MB, Troponin, Result ) %>%
  dplyr::group_by(Result, Gender) %>%
  skim()

── Data Summary ────────────────────────
                           Values
Name                       Piped data
Number of rows             1319
Number of columns          9
_______________________
Column type frequency:
  numeric                  7
________________________
Group variables            Result, Gender

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable            Result   Gender n_missing complete_rate      mean
 1 Age                      negative Female         0             1  53.8
 2 Age                      negative Male           0             1  51.0
 3 Age                      positive Female         0             1  61.3
 4 Age                      positive Male           0             1  57.6
 5 Heart.rate               negative Female         0             1  76.3
 6 Heart.rate               negative Male           0             1  75.7
 7 Heart.rate               positive Female         0             1  75.4
 8 Heart.rate               positive Male           0             1  76.5
 9 Systolic.blood.pressure  negative Female         0             1 128.
10 Systolic.blood.pressure  negative Male           0             1 128.
11 Systolic.blood.pressure  positive Female         0             1 126.
12 Systolic.blood.pressure  positive Male           0             1 127.
13 Diastolic.blood.pressure negative Female         0             1  72.8
14 Diastolic.blood.pressure negative Male           0             1  72.2
15 Diastolic.blood.pressure positive Female         0             1  72.2
16 Diastolic.blood.pressure positive Male           0             1  72.2
17 Blood.sugar              negative Female         0             1 142.
18 Blood.sugar              negative Male           0             1 155.
19 Blood.sugar              positive Female         0             1 150.
20 Blood.sugar              positive Male           0             1 143.
21 CK.MB                    negative Female         0             1   2.40
22 CK.MB                    negative Male           0             1   2.66
23 CK.MB                    positive Female         0             1  23.7
24 CK.MB                    positive Male           0             1  23.1
25 Troponin                 negative Female         0             1   0.00648
26 Troponin                 negative Male           0             1   0.0405
27 Troponin                 positive Female         0             1   0.459
28 Troponin                 positive Male           0             1   0.620
         sd     p0     p25     p50     p75    p100 hist
 1 14.2     14      44      55      65      86     ▁▃▇▇▂
 2 13.3     19      42      50      61      91     ▂▆▇▅▁
 3 13.3     19      54      60      70     103     ▁▃▇▆▁
 4 12.6     20      50      60      65     100     ▁▅▇▃▁
 5 14.6     40      63      76      84     125     ▁▇▇▂▁
 6 15.1     20      64      74      84     132     ▁▅▇▃▁
 7 14.6     20      64      74      85     125     ▁▃▇▃▁
 8 16.1     36      63      74      87     135     ▁▇▆▂▁
 9 26.5     67     109.    125     144     220     ▂▇▆▂▁
10 27.4     42     110     126     148.    223     ▁▅▇▃▁
11 26.7     67     110.    121     140.    223     ▂▇▅▁▁
12 25.0     65     110     123     140.    223     ▂▇▅▁▁
13 13.7     44      62      72      82     128     ▅▇▆▁▁
14 14.8     40      60      72      82     118     ▃▇▇▃▁
15 13.9     40      62      70      80     128     ▂▇▅▁▁
16 13.8     38      62      72      80     154     ▃▇▂▁▁
17 69.5     67      96.2   114     164.    422     ▇▃▁▁▁
18 83.4     60      99     118     189     541     ▇▃▁▁▁
19 76.9     50      97     120     176     500     ▇▃▁▁▁
20 70.7     35      98     115     162.    541     ▇▃▁▁▁
21  1.22     0.321   1.5     2.13    3.20    7.02  ▇▇▅▂▁
22  1.45     0.345   1.52    2.42    3.49    6.27  ▆▇▆▃▂
23 56.1      0.452   1.94    4.73   15.8   300     ▇▁▁▁▁
24 58.5      0.353   1.84    3.58   11.3   300     ▇▁▁▁▁
25  0.00337  0.002   0.003   0.006   0.009   0.014 ▇▃▅▂▂
26  0.571    0.001   0.003   0.006   0.009  10     ▇▁▁▁▁
27  1.35     0.003   0.012   0.03    0.144  10     ▇▁▁▁▁
28  1.41     0.003   0.018   0.053   0.638  10.3   ▇▁▁▁▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 14' in coercion to 'logical(1)'

In [ ]:
Medical %>%
  dplyr::select(Age, Heart.rate, Systolic.blood.pressure, Diastolic.blood.pressure, Blood.sugar, CK.MB, Troponin, Result ) %>%
  dplyr::group_by(Result) %>%
  skim()

── Data Summary ────────────────────────
                           Values
Name                       Piped data
Number of rows             1319
Number of columns          8
_______________________
Column type frequency:
  numeric                  7
________________________
Group variables            Result

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable            Result   n_missing complete_rate     mean     sd
 1 Age                      negative         0             1  52.1    13.7
 2 Age                      positive         0             1  58.8    13.0
 3 Heart.rate               negative         0             1  75.9    14.9
 4 Heart.rate               positive         0             1  76.2    15.6
 5 Systolic.blood.pressure  negative         0             1 128.     27.0
 6 Systolic.blood.pressure  positive         0             1 127.     25.5
 7 Diastolic.blood.pressure negative         0             1  72.4    14.3
 8 Diastolic.blood.pressure positive         0             1  72.2    13.9
 9 Blood.sugar              negative         0             1 150.     78.4
10 Blood.sugar              positive         0             1 145.     72.6
11 CK.MB                    negative         0             1   2.56    1.37
12 CK.MB                    positive         0             1  23.3    57.7
13 Troponin                 negative         0             1   0.0270  0.443
14 Troponin                 positive         0             1   0.571   1.39
       p0     p25     p50     p75   p100 hist
 1 14      42      52      63      91    ▁▅▇▆▁
 2 19      50      60      68     103    ▁▅▇▃▁
 3 20      64      75      84     132    ▁▅▇▃▁
 4 20      64      74      85.8   135    ▁▆▇▃▁
 5 42     110     125     147     223    ▁▅▇▃▁
 6 65     110     122     141.    223    ▂▇▅▁▁
 7 40      61      72      82     128    ▃▇▆▂▁
 8 38      62      71      80     154    ▃▇▂▁▁
 9 60      98     117     184     541    ▇▂▁▁▁
10 35      98     116     166     541    ▇▃▁▁▁
11  0.321   1.5     2.31    3.35    7.02 ▇▇▅▂▁
12  0.353   1.87    3.78   12.2   300    ▇▁▁▁▁
13  0.001   0.003   0.006   0.009  10    ▇▁▁▁▁
14  0.003   0.016   0.044   0.456  10.3  ▇▁▁▁▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 13' in coercion to 'logical(1)'

In [ ]:
summary(Medical)

      Age            Gender            Heart.rate     Systolic.blood.pressure
 Min.   : 14.00   Length:1319        Min.   : 20.00   Min.   : 42.0
 1st Qu.: 47.00   Class :character   1st Qu.: 64.00   1st Qu.:110.0
 Median : 58.00   Mode  :character   Median : 74.00   Median :124.0
 Mean   : 56.19                      Mean   : 76.06   Mean   :127.2
 3rd Qu.: 65.00                      3rd Qu.: 85.00   3rd Qu.:143.0
 Max.   :103.00                      Max.   :135.00   Max.   :223.0
 Diastolic.blood.pressure  Blood.sugar        CK.MB            Troponin
 Min.   : 38.00           Min.   : 35.0   Min.   :  0.321   Min.   : 0.0010
 1st Qu.: 62.00           1st Qu.: 98.0   1st Qu.:  1.655   1st Qu.: 0.0060
 Median : 72.00           Median :116.0   Median :  2.850   Median : 0.0140
 Mean   : 72.27           Mean   :146.6   Mean   : 15.274   Mean   : 0.3609
 3rd Qu.: 81.00           3rd Qu.:169.5   3rd Qu.:  5.805   3rd Qu.: 0.0855
 Max.   :154.00           Max.   :541.0   Max.   :300.000   Max.   :10.3000
    Result
 Length:1319
 Class :character
 Mode  :character